RewriteEngine on

RewriteRule ^assets/images/(.*)$ https://storage.googleapis.com/denyconformity_assets/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [NC,L,QSA]
