<div class="wrapper {{postClassName}}"
     *ngIf="series"
     [@series]>
  <div class="series"
       *ngIf="series">
    <div class="series-intro"
         *ngIf="extended">
      <p><em>This is part {{thisPart}} of a series.</em></p>
      <p *ngIf="thisPart < partList.length"><em>Next: <a
             (click)="nextPost($event, series)">{{nextPostTitle}}</a></em></p>
    </div>
    <h2>{{series.name}}</h2>
    <p *ngIf="extended && series.description">{{series.description}}</p>
    <div class="post-links corner-box">
      <ng-container *ngFor="let part of partList">
        <a *ngIf="part.index > 0"
           (click)="gotoPost($event, series, part.post)"
           [class.active]="part.post.id == post.id">
          {{part.label}}
        </a>
        <span *ngIf="part.index === -1">. . .</span>
      </ng-container>
    </div>
  </div>
</div>
