<div class="background-wrapper"
     #background>
  <div class="background"
       style="background: url('/assets/bg8.jpg')"></div>
  <div class="shade"></div>

  <div class="logo">
    <img #logo
         src="/assets/logo/logo.main.0.png" />
    <img #logo
         src="/assets/logo/logo.main.1.png" />
    <img #logo
         src="/assets/logo/logo.main.2.png" />
    <img #logo
         src="/assets/logo/logo.main.3.png" />
    <img #logo
         src="/assets/logo/logo.main.4.png" />
    <img #logo
         src="/assets/logo/logo.main.5.png" />
  </div>
</div>

<router-outlet></router-outlet>
