@import "../styles/vars";

:host {
  display: block;
  min-height: 100%;
  width: 100%;
  padding-bottom: 2rem;
  box-sizing: border-box;
  position: relative;

  box-shadow: 1px 2px 5rem rgba(77, 38, 0, 0.45) inset;
}

.bg-image {
  position: fixed;
  z-index: 1;
  top: 0;

  img {
    width: 125vw;
    margin-left: 50vw;
    transition: top 100ms, opacity 100ms;
    opacity: 0.4;
    transform: translateX(-50%);
    position: relative;

    mask-image: linear-gradient(to bottom, black 55%, transparent 100%);

    @media #{$media-mobile} {
      min-width: 700px;
    }
  }
}

.logo {
  position: fixed;
  z-index: 2;
  top: 2rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;

  img {
    width: 19vw;
    opacity: 0.1;
    position: relative;

  }
}

footer {
  margin-top: 1rem;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  span {
    width: 33%;

    &:nth-child(2) {
      text-align: center;
    }
    &:nth-child(3) {
      text-align: right;
    }
  }

  .flag {
    width: 1.5rem;
    height: 1rem;
    display: inline-block;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#55cdfc+20,f7a8b8+21,f7a8b8+40,f4f4f4+41,f4f4f4+59,f7a8b8+60,f7a8b8+79,55cdfc+80 */
    background: #55cdfc; /* Old browsers */
    background: -moz-linear-gradient(top,  #55cdfc 20%, #f7a8b8 21%, #f7a8b8 40%, #f4f4f4 41%, #f4f4f4 59%, #f7a8b8 60%, #f7a8b8 79%, #55cdfc 80%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #55cdfc 20%,#f7a8b8 21%,#f7a8b8 40%,#f4f4f4 41%,#f4f4f4 59%,#f7a8b8 60%,#f7a8b8 79%,#55cdfc 80%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #55cdfc 20%,#f7a8b8 21%,#f7a8b8 40%,#f4f4f4 41%,#f4f4f4 59%,#f7a8b8 60%,#f7a8b8 79%,#55cdfc 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55cdfc', endColorstr='#55cdfc',GradientType=0 ); /* IE6-9 */

  }
}
