<div class="background-wrapper"
     #background>
  <div class="bg-image">
    <img class="background"
         src="/assets/bg.jpg" />
    <div class="shade"></div>
  </div>

  <div class="logo">
    <img #logo
         src="/assets/logo/logo.main.0.png" />
    <img #logo
         src="/assets/logo/logo.main.1.png" />
    <img #logo
         src="/assets/logo/logo.main.2.png" />
    <img #logo
         src="/assets/logo/logo.main.3.png" />
    <img #logo
         src="/assets/logo/logo.main.4.png" />
    <img #logo
         src="/assets/logo/logo.main.5.png" />
  </div>
</div>

<div class="top">
  <h1>DenyConformity.com</h1>
</div>

<router-outlet></router-outlet>
