@import "../styles/vars";

:host {
  display: block;
  min-height: 100%;
  width: 100%;

  box-shadow: 1px 2px 5rem rgba(77, 38, 0, 0.45) inset;
}

.bg-image {
  position: fixed;
  z-index: 1;
  top: 0;

  img {
    width: 125vw;
    margin-left: 50vw;
    transition: top 100ms, opacity 100ms;
    opacity: 0.4;
    transform: translateX(-50%);
    position: relative;

    mask-image: linear-gradient(to bottom, black 55%, transparent 100%);

    @media #{$media-mobile} {
      min-width: 700px;
    }
  }
}

.logo {
  position: fixed;
  z-index: 2;
  top: 2rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;

  img {
    width: 19vw;
    opacity: 0.1;
    position: relative;

  }
}
