@import "../../styles/vars";

.similar-heading {
  font-size: 1.25rem;
  margin: 0 0 3rem 0;
}

.wrapper {
  // margin-bottom: 5rem;
}

.hr {
  border-color: $color-shadow $color-shadow $color-highlight $color-highlight;
  border-width: 1px;
  border-style: solid;
}

.post-title {
  margin-bottom: 0.5rem;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: flex-end;

  h2 {
    font-size: 2rem;
    margin-bottom: -0.4rem;
    line-height: 3rem;
    transition: all 500ms;
    flex-grow: 1;
    display: inline-block;
    vertical-align: baseline;
    font-style: italic;
    position: relative;
    z-index: 2;
    max-width: 85%;

    &::before {
      bottom: 3px;
      left: -1rem;
    }
  }

  h3 {
    transition: font-size 500ms, margin 500ms;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    text-align: right;
    white-space: nowrap;
  }

  .hr {
    position: absolute;
    transition: width 500ms 500ms, opacity 500ms;
    opacity: 0;
    width: 0;
    right: 100%;
    margin-right: 2rem;
    top: 0.7rem;
    z-index: 2;
  }

  &.has-image {
    height: 5rem;

    h2, h3 {
      color: white;
      text-shadow: -2px 2px 2px $color-shadow;
    }
  }

  .image-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    transition: height 500ms;
    height: 5rem;
    border-radius: 2px 2px 0 0;

    img {
      border: 0;
      box-shadow: none;
      border-radius: 0;
      max-width: 700px;
      width: 700px;
      position: absolute;
      bottom: 0;
      margin: 0;
      left: 50%;
      transform: translate(-50%, 27%);
      transition: transform 500ms;
    }
  }
}

@media #{$media-mobile} {
  .wrapper {
    position: relative;

    .post-title {
      // position: static;

      .image-wrapper {
        left: -2rem;
        right: -2rem;
        width: auto;
      }
    }
  }

  .summary {
    padding-bottom: 1rem;
  }
}

.tools {
  color: $color-text;
  padding: 0;
  display: flex;
  flex-direction: row;
  // overflow: hidden;
  justify-content: space-between;

  .btn {
    font-size: 1.5rem;
    cursor: pointer;
    @include font-subtitle;
    text-transform: uppercase;
    font-style: italic;
  }
}

.summary {
  overflow: visible;
  opacity: 1;
  transition: opacity 300ms;
  cursor: pointer;

  ::ng-deep p {
    margin: 0;
  }
}

.selected {
  .post-title {
    h2 {
      font-size: 4rem;
      margin: 0 4rem 1rem;
      line-height: 4rem;
      border: 0;
      padding: 0;

      &::before {
        width: 0;
        height: 0;
      }
    }

    h3 {
      margin-top: 3rem;
      font-size: 1.25rem;
      white-space: nowrap;
    }

    .hr {
      width: 450px;
      opacity: 1;
    }

    .image-wrapper {
      height: 27rem; // Somewhat matches the golden ratio.

      img {
        transform: translate(-50%, 0);
      }
    }

    @media #{$media-mobile} {
      position: relative;

      h2 {
        margin: 0 0 2rem;
        hyphens: auto;
        width: 100%;
      }
    }
  }
}

.transition-disclaimer {
  margin: 0 2rem 2rem;
}

.post {
  margin-top: 2rem;
  // overflow: hidden;

  & > h3 {
    text-align: right;
    font-style: italic;
  }
}

app-post-series {
  margin-top: 1rem;
}

.comments {
  margin-bottom: 4rem;

  .summary {
    text-align: right;
    @include font-subtitle;
  }

  .list {
    margin-top: 2rem;

    & > h3 {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }

    .comment {
      margin: 0 0 4rem;

      h2,
      input {
        font-size: 2rem;
        line-height: 2rem;
      }

      .text {
        margin-left: 2rem;

        .disclaimer,
        .disclaimer a {
          text-align: right;
          font-size: 14px;
        }

        textarea {
          border: 0;
          background: transparent;
          width: 100%;
          font-size: 20px;
          position: relative;
          @include font;

          &:focus {
            outline: 0;
          }
        }

        button {
          border: 0;
          background: transparent;
          float: right;
          font-size: 1.5rem;
          margin-top: 1rem;
          @include font-subtitle;
          font-style: italic;
        }
      }

      .post-title {
        input {
          @include font-subtitle;
          font-style: italic;
          border: 0;
          background: transparent;

          &:focus {
            outline: 0;
          }
        }
      }
    }
  }
}
