<!-- <div class="similar-heading" *ngIf="thisPostIsSimilar && index === 1">
  <h3>Some other content that may or may not be relevant:</h3>
</div> -->

<div class="wrapper"
     [class.selected]="selected">
  <div class="post-title"
       [class.has-image]="post?.image">
    <h2 class="corner-box"
        [innerHTML]="post?.title"></h2>
    <h3 class="date">
      <div class="hr"></div>
      {{post?.time | date}}
    </h3>

    <div class="image-wrapper"
         [@wrapper]
         *ngIf="post?.image">
      <img [src]="post?.image"
           class="post-image" />
    </div>
  </div>

  <div class="tools"
       *ngIf="selected"
       [@wrapper]>
    <span class="btn corner-box"
          (click)="goHome($event)">Home</span>
    <span class="btn corner-box"
          (click)="readPost($event)">Read</span>
  </div>

  <div class="summary"
       [@summary]
       [unsafeInnerHTML]="renderSummary(post)"
       *ngIf="!selected">
  </div>

  <div class="post"
       *ngIf="selected"
       [@wrapper]>
    <div class="first-letter"
         [unsafeInnerHTML]="renderText(post)">
    </div>
    <h3 class="end-of-line"
        [scrollTracker]
        (appear)="commentsAppear()">end of line.</h3>
  </div>

  <app-post-survey *ngIf="showComments && post.survey_description"
                   [post]="post"></app-post-survey>

  <app-post-series *ngIf="selected"
                   extended="true"></app-post-series>

  <ng-container *ngIf="showComments">
    <div class="comments"
         *ngIf="comments$ | async as comments; else loadingComments"
         [@wrapper]>

      <div class="list"
           *ngIf="selected"
           [@wrapper]>
        <h3>Comments</h3>

        <div class="left-border">

          <div class="comment"
               *ngIf="!comments.length">
            <div class="text">
              <p><em>Nothing yet. Add your thoughts below.</em></p>
            </div>
          </div>

          <ng-container *ngFor="let comment of comments">
            <ng-container *ngTemplateOutlet="commentTemplate; context: {comment: comment}">
            </ng-container>
          </ng-container>

          <ng-container *ngIf="createdComment">
            <ng-container *ngTemplateOutlet="commentTemplate; context: {comment: createdComment}">
            </ng-container>
          </ng-container>

          <div class="comment">
            <form [formGroup]="commentFormGroup">
              <div class="post-title">
                <h2>
                  <input formControlName="name"
                         placeholder="Your name" />
                </h2>
                <h3>
                  <div class="hr"></div>
                  &nbsp;
                </h3>
              </div>
              <div class="text">
                <textarea formControlName="text"
                          #commentText
                          placeholder="Your thoughts"></textarea>
                <div class="disclaimer">
                  No HTML is allowed, but you can use <a
                     href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
                     target="_blank">Markdown</a>!
                </div>
                <button [disabled]="!commentFormGroup.valid"
                        (click)="submitComment()">save</button>
              </div>
            </form>
          </div>
        </div> <!-- /.left-border -->
      </div>
    </div>
  </ng-container>

</div>

<ng-template #loadingComments>
  <span class="loading-comments">Loading comments . . .</span>
</ng-template>

<!-- <ng-template #loadingSimilars>
  <span>Finding similar posts . . .</span>
</ng-template> -->

<ng-template #commentTemplate
             let-comment="comment">
  <div class="comment"
       [@wrapper]>
    <div class="post-title">
      <h2>{{comment.name}}</h2>
      <h3>
        <div class="hr"></div>
        {{comment.time | date}}
      </h3>
    </div>
    <div class="text"
         [innerHTML]="renderMarkdown(comment.text)"></div>
  </div>
</ng-template>
