<div class="post-page-title"
     [@postTitle]
     *ngIf="isPostSelected">
  <h1 (click)="home()">DenyConformity.com</h1>
</div>

<app-post-series></app-post-series>

<div class="spacer"></div>

<div class="content">
  <div class="title"
       [@title]
       *ngIf="!isPostSelected">
    <h1>DenyConformity.com</h1>
    <div class="subtitle">
      <div class="hr"></div>
      <div class="hr"></div>
      <h3>a very interesting website place.</h3>
    </div>
  </div>

  <div class="post-list"
       *ngIf="posts$ | async as listItems; else loading">
    <ng-container *ngFor="let listItem of listItems; index as i; trackBy: listItemTrackBy">

      <div *ngIf="listItem.series"
           [@title]
           class="series-summary">
        <h2>{{listItem.series.name}}</h2>
        <p>{{listItem.series.description}}</p>
        <span class="entry-count">
          <h3>{{listItem.series.posts.length}} posts</h3>
        </span>
      </div>

      <app-post *ngIf="listItem.post"
                [post]="listItem.post"
                [@post]
                (click)="selectPost($event, listItem.post)"
                (mousedown)="postMouseDown($event, listItem.post)"
                (mouseup)="postMouseUp($event, listItem.post)"
                (read)="openPostToRead($event)"></app-post>

      <span class="scroll-tracker loading"
            *ngIf="listItem.type === 'loadmore'"
            [scrollTracker]
            (appear)="fetchNextPage()">
        Loading more . . .
      </span>

      <span class="loading"
            *ngIf="listItem.type === 'similars_loading'">
        Loading similar posts . . .
      </span>

      <div class="similar-heading"
           *ngIf="listItem.type === 'similar_heading'">
        <h3>Some other content that may or may not be relevant:</h3>
      </div>

    </ng-container>
  </div>
</div>

<ng-template #loading>
  <div class="loading">
    Loading . . .
  </div>
</ng-template>

<app-read-post *ngIf="postToRead"
               [post]="postToRead"
               (close)="closePostToRead()"></app-read-post>
