<div class="post-page-title"
     [@postTitle]
     *ngIf="selectedPost">
  <h1 (click)="home()">DenyConformity.com</h1>
</div>

<app-post-series></app-post-series>

<div class="spacer"></div>

<div class="content">
  <div class="title"
       [@title]
       *ngIf="!selectedPost">
    <h1>DenyConformity.com</h1>
    <div class="subtitle">
      <div class="hr"></div>
      <div class="hr"></div>
      <h3>a very interesting website place.</h3>
    </div>
  </div>

  <div class="post-list"
       *ngIf="posts$ | async as posts">
    <ng-container *ngIf="posts; else loading">

      <app-post *ngFor="let post of posts; trackBy: postTrackBy"
                [post]="post"
                (read)="openPostToRead($event)"></app-post>

      <span *ngIf="!isLoading"
            scrollTracker
            (appear)="fetchNextPage()"></span>

    </ng-container>
  </div>
</div>

<ng-template #loading>
  Loading . . .
</ng-template>

<app-read-post *ngIf="postToRead"
               [post]="postToRead"></app-read-post>
