@import "../../styles/vars";

:host {
  display: block;
}

.spacer {
  height: calc(50vh - 10rem);
}

.title {
  padding: 2rem 0 3rem 0;
  text-align: center;
  overflow: hidden;

  h1 {
    font-size: 6rem;
    text-shadow: -1px -1px 0px $color-shadow, 1px 1px 0px $color-highlight;
    margin-bottom: -19px;
    color: $color-text;
  }

  .subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  h3 {
    font-size: 1.25rem;
    font-style: italic;
    color: $color-text;
  }

  .hr {
    width: 200px;
    margin-top: 8px;
    border-color: $color-shadow $color-highlight $color-highlight $color-shadow;
    border-width: 1px;
    border-style: solid;

    &:nth-child(2) {
      margin-left: 61px;
      width: 180px;
      margin-right: 66px;
    }
  }

  @media #{$media-mobile} {
    h1 {
      font-size: 4.5rem;
      margin-bottom: 0;
    }

    .hr {
      order: 1;
      margin: 0;
      width: auto;
      flex-grow: 1;

      &:nth-child(2) {
        order: 3;
        width: auto;
        margin: 0;
        flex-grow: 1;
      }
    }

    h3 {
      order: 2;
      margin: 0 1rem;
    }
  }
}

.loading {
  display: block;
  text-align: center;
  font-size: 1.25rem;
}

.similar-heading {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.post-page-title {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  padding: 0.5rem 2rem;

  h1 {
    font-size: 3rem;
    text-shadow: -1px -1px 0px $color-shadow, 1px 1px 0px $color-highlight;
    cursor: pointer;
  }

  @media #{$media-mobile} {
    left: 0;
    text-align: center;
  }
}

h3.heading {
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.quick-links {
    margin-bottom: 5rem;
    margin-top: -2rem;

  .link-wrapper {
    display: flex;
    justify-content: center;

    .link {
      // border-left: 1px solid $color-shadow;
      // border-right: 1px solid $color-highlight;
      padding: 0 1rem;
      flex-grow: 1;
      width: 33%;
      box-sizing: border-box;
      cursor: pointer;

      &:first-child {
        border-left: none;
        padding-left: 0;
      }

      &:last-child {
        border-right: none;
        padding-right: 0;
      }

      h2 {
        font-size: 1.25rem;
        font-style: italic;
        min-height: 40px;
        display: flex;
        align-items: center;
        margin: 0.5rem 0;
        min-width: 0;
      }

      h4 {
        font-size: 1rem;
      }

      .link-summary {
        height: 60px;
        overflow: hidden;
      }

      .date {
        display: block;
        text-align: right;
        font-style: italic;
        font-size: 1rem;
        margin-top: 0.25rem;
      }
    }

    .options {
      display: flex;
      justify-content: space-between;
      margin-top: 0.5rem;

      span {
        cursor: pointer;
        font-size: 1.5rem;
        font-style: italic;
        color: $color-text;
        text-shadow: -1px -1px 0px $color-shadow, 1px 1px 0px $color-highlight;
      }
    }

    @media #{$media-mobile} {
      flex-wrap: wrap;
      gap: 1rem;

      .link:first-child {
        width: 100%;
        padding: 0;
      }
      .link {
        padding: 0;
      }
    }
  }
}

app-post-series {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;

  @media #{$media-mobile} {
    top: 4rem;
    left: 1rem;
    right: 1rem;
    transform: none;
    width: auto;

    display: none;
  }
}

.post-list {
  padding: 1rem 3rem;
  max-width: 700px;
  margin: 0 auto;

  @media #{$media-mobile} {
    padding: 1rem 2rem;
  }
}

.series-summary {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 3rem;
    font-style: italic;
  }

  p {
    font-size: 1.5rem;
  }

  .entry-count {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    position: relative;

    h3 {
      padding: 0 1rem;

      &::before,
      &::after {
        border-color: $color-shadow $color-highlight $color-highlight $color-shadow;
        border-width: 1px;
        border-style: solid;
        position: absolute;
        content: '';
        right: 100%;
        width: 4rem;
        top: 65%;
      }

      &::after {
        right: auto;
        left: 100%;
      }
    }
  }
}

app-post {
  display: block;
  margin-bottom: 5rem;
}

.scroll-tracker {
  margin-bottom: 2rem;
}
