<div class="post-list-wrapper"
     #wrapper
     *ngIf="posts$ | async">
  <app-post-summary *ngFor="let post of posts; index as i"
                    #postSummary
                    (click)="selectPost(post, postSummary)"
                    (close)="selectPost(post)"
                    (previous)="previousPost(i)"
                    (next)="nextPost(i)"
                    (read)="readPost($event)"
                    [active]="post.id === selectedPost?.id"
                    [quiet]="selectedPost && post.id !== selectedPost.id"
                    [post]="post">
  </app-post-summary>

  <app-post-summary *ngIf="loading"
       [loading]="loading">
  </app-post-summary>
</div>

<app-read-post *ngIf="selectedPost"
               #read
               [top]="readPosition"
               [post]="selectedPost"
               (close)="selectPost($event)">
</app-read-post>

<app-post-book *ngIf="selectedPost && bookMode"
               [post]="selectedPost"></app-post-book>
