.post-wrapper {
    .post {
        width: 25rem;
        padding: 1rem;
        margin: 1rem;
        border: 1px solid #6699FF;
        border-radius: .5rem;

        h2 {
            font-weight: bold;
        }

        .timestamp {
            font-size: .75rem;
        }
    }
}