@import '../../styles/vars';

:host {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;

  &.modal {
    z-index: 6;
  }
}

.post-list-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 1rem;
  transition: transform 30ms;
}
