@import '../../styles/vars';

:host {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
}


.post-list-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 1rem;

    .post {
        width: 19rem;
        padding: 1rem;
        margin: 0 0 1rem 0;
        border-style: solid;
        border-width: 1px 0 1px 1.5rem;
        border-radius: 1rem 0 0 1rem;
        background: #fff;
        position: relative;
        cursor: pointer;
        box-shadow: $card-shadow;
        transition: padding 300ms, margin 300ms, border-radius 300ms;

        &.comedy {
          border-color: $dc-blue;
        }
        &.fiction {
          border-color: $dc-purple;
        }
        &.technology {
          border-color: $dc-green;
        }
        &.photo {
          border-color: $dc-yellow;
        }
        &.idea {
          border-color: $dc-red;
        }

        &.active {
          padding-right: 4.5rem;
          border-radius: 0;
          z-index: 3;
        }

        h2 {
            font-weight: 300;
            font-size: 1.5rem;
            margin-bottom: .5rem;
        }

        .timestamp {
            font-size: 1rem;
            position: absolute;
            top: 0;
            left: -10px;
            color: #fff;
            transform-origin: 0 50%;
            transform: rotateZ(90deg);
        }

        img {
          width: 100%;
          height: auto;
        }
    }
}
