/* You can add global styles to this file, and also import other style files */
@import "./styles/reset";
@import "./styles/vars";

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  @include font;
  font-size: 16px;
  width: 100%;
  height: 100%;
  background-image: url("https://storage.cloud.google.com/denyconformity_assets/111webassets/2020_bg-texture.jpg");

  &.disable-scroll {
    overflow: hidden;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.screen {
  position: relative;
  z-index: 2;
}

p {
  margin-bottom: 1rem;
  line-height: 1.25;
}

h1 {
  @include font-title;
}

h2 {
  @include font-subtitle;
}

a {
  color: $dc-blue;
  text-decoration: none;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 3rem 3rem rgba(255, 255, 255, 0.2);
  border-radius: 5rem;
  position: relative;
  z-index: 2;
}

.corner-box {
  position: relative;

  &::before {
    display: block;
    content: "";
    width: 1rem;
    height: 1rem;
    position: absolute;
    bottom: -0.5rem;
    left: -0.75rem;
    border-width: 0 0 1px 1px;
    border-style: solid;
    transition: all 500ms;
    box-shadow: -1px 1px 0px $color-highlight, 1px -1px 0px $color-shadow inset;
  }
}

/**
  Special styles for posts.
**/

.first-letter {
  padding-top: 1rem;

  & > p:first-child::first-letter {
    @include font-title;
    font-size: 6rem;
    float: left;
    margin: -2rem 0.5rem -2rem 0;
  }
}

.post,
.page {
  p {
    font-size: 20px;
  }

  ul {
    font-size: 20px;
    margin-bottom: 1rem;
    list-style: upper-roman outside;
    padding-left: 4rem;

    li {
      padding-left: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  h5 {
    @include font-subtitle;
    font-size: 1.5rem;
  }

  .quote {
    font-family: Arial, Helvetica, sans-serif;
    width: 85%;
    margin: 0 auto 1rem;
    color: #555;
  }

  blockquote {
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.05);
    border-left: 0.25rem solid rgba(0, 0, 0, 0.3);
    max-width: 37rem;
    margin: 0 auto 1rem;

    p:last-child {
      margin: 0;
    }
  }

  img,
  iframe {
    border: 1rem solid white;
    border-radius: 0.25rem;
    box-shadow: 0px 1px 3px $color-shadow;
    max-width: calc(100% - 4rem);
    margin-left: 50%;
    transform: translateX(-50%);
  }

  @media #{$media-mobile} {
    img,
    iframe {
      margin-left: 0;
      transform: none;
      max-width: calc(100% - 2rem);
    }
  }
}

/**
  Styles for comments.
*/
.comment .text {
  * {
    font-size: 20px;
  }
  h1 {
    font-size: 44px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1rem;
  }
}

/* Colors for different tags. */
.fiction {
  a {
    color: $dc-purple;
  }
  .corner-box::before {
    border-color: $dc-purple;
  }
  .hr {
    background-color: $dc-purple;
  }
}
.comedy {
  a {
    color: $dc-blue;
  }
  .corner-box::before {
    border-color: $dc-blue;
  }
  .hr {
    background-color: $dc-blue;
  }
}
.technology {
  a {
    color: $dc-green;
  }
  .corner-box::before {
    border-color: $dc-green;
  }
  .hr {
    background-color: $dc-green;
  }
}
.photo {
  a {
    color: $color-text;
    text-shadow: 1px 1px 0 $dc-yellow;
  }
  .corner-box::before {
    border-color: $dc-yellow;
  }
  .hr {
    background-color: $dc-yellow;
  }
  blockquote {
    border-left-color: $dc-yellow;
  }
}
.idea {
  a {
    color: $dc-red;
  }
  .corner-box::before {
    border-color: $dc-red;
  }
  .hr {
    background-color: $dc-red;
  }
  blockquote {
    border-left-color: $dc-red;
  }
}
