/* You can add global styles to this file, and also import other style files */
@import './styles/reset';

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.screen {
  position: relative;
  z-index: 2;
}

p {
  margin-bottom: 1rem;
}
