<div class="page layout-page"
     *ngIf="post && selectedPageIndex === -1"
     #layoutPage>
  <div class="viewable-area">
  </div>
</div>

<ng-container *ngFor="let page of pageContent; index as i">
  <div class="page"
       *ngIf="i === selectedPageIndex"
       [unsafeInnerHTML]="page.outerHTML">
  </div>
</ng-container>

<div class="controls left">
  <div class="close">
    <button (click)="close()">x</button>
  </div>
  <button class="prev"
          (click)="prevPage()">
          &lt;
  </button>
  <button class="next"
          (click)="nextPage()">
          &gt;
  </button>
</div>
