@import '../../styles/vars';

:host {
    width: 19rem;
    min-height: 10.5rem;
    padding: 1rem;
    margin: 0 0 1rem 0;
    border-style: solid;
    border-width: 1px 0 1px 1.5rem;
    border-radius: 1rem 0 0 1rem;
    border-color: $dc-grey;
    background: #fff;
    position: relative;
    cursor: pointer;
    box-shadow: $card-shadow;
    transition: all 300ms;

    &.comedy {
      border-color: $dc-blue;

      .comments span {
        background-color: $dc-blue;
      }
    }
    &.fiction {
      border-color: $dc-purple;

      .comments span {
        background-color: $dc-purple;
      }
    }
    &.technology {
      border-color: $dc-green;

      .comments span {
        background-color: $dc-green;
      }
    }
    &.photo {
      border-color: $dc-yellow;

      .comments span {
        background-color: $dc-yellow;
      }
    }
    &.idea {
      border-color: $dc-red;

      .comments span {
        background-color: $dc-red;
      }
    }

    &.active {
      padding-right: 4.5rem;
      border-radius: 0;
      z-index: 3;

      @media #{$media-mobile} {
        width: 1.5rem;
        overflow: hidden;
        padding-right: 0;
      }
    }

    &.quiet {
      opacity: 0.5;
      box-shadow: $card-quiet-shadow;

      @media #{$media-mobile} {
        width: 0;
        padding: 1rem 0;
        overflow: hidden;
      }
    }

    .content {
      width: 19rem;
    }

    h2 {
        font-weight: 300;
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }

    .timestamp {
        font-size: 1rem;
        position: absolute;
        top: 0;
        left: -10px;
        color: #fff;
        transform-origin: 0 50%;
        transform: rotateZ(90deg);
        backface-visibility: hidden;
        white-space: nowrap;
    }

    .comments {
      position: absolute;
      left: -1.5rem;
      color: white;
      padding: .25rem;
      bottom: .25rem;

      span {
        position: absolute;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        top: -2px;
        background-color: $dc-grey;

        &.lots {
          background: none;
        }
      }
    }

    img {
      width: 100%;
      height: auto;
    }

    .tools {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255,255,255,0.9);
      display: flex;
      justify-content: center;
      align-items: center;

      @media #{$media-mobile} {
        right: auto;
        width: 2.5rem;
        justify-content: flex-start;

        .tool-wrapper {
          flex-direction: column-reverse;

          a {
            padding: .5rem;
            height: auto;
          }

          .vert {
            opacity: .35;
            width: 90%;
            height: 1px;
            border-top: 1px solid white;
            background: $dc-grey;
          }

          .updown {
            height: auto;
            flex-grow: 2;
          }
        }
      }

      .tool-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
      }

      a {
        padding: 1rem;
        font-size: 2rem;
        text-decoration: none;
        color: $dc-grey;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        flex-grow: 1;
        cursor: pointer;
      }

      .vert {
        width: 1px;
        height: 80%;
        opacity: .75;
        border-left: 1px solid #fff;
        background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%, $dc-grey 50%,rgba(0,0,0,0.15) 100%);
      }

      .updown {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
      }
    }
}
